
/*font-family: 'Source Sans Pro', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Source+Sans+Pro:400,700');

*{
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
header{
    background: #f5f7fa;
}

.top-address{}
.top-address li{
    color: #506a85;
    font-size: 12px;
    padding-left: 30px;
    font-weight: 600;
}
.top-address li i{
    margin-right: 5px;
}

.social{}
.social li{}
.social li a{
    padding-right: 0px;
    margin-left: 18px;
    color: #506a85;
}
.social li a:hover{}

.navbar{}
.navbar-brand{
    margin-right: 50px;
}
.navbar-brand img{}
.navbar-toggler{
    background-color: transparent;
    border: 1px solid #54616f;
    border-radius: 0;
    padding: 4px 8px;
    transition: all 0.4s ease;
}
.navbar-toggler span{
    color: #506a85;
    font-size: 25px;
    transition: all 0.4s ease;
}

.navbar-toggler:hover{
    background-color: #54616f;
    border: 1px solid #fff;
}

.navbar-toggler:hover span{
    color: #fff;
}



.navbar-nav{}
.navbar-nav li{}
.navbar-nav li a{
    font-weight: 600;
    color: #506a85 !important;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 22px !important;
    padding-right: 22px !important;
    border: 1px solid transparent;
    transition: : all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.navbar-nav li a:hover{
    color: #00bc9c !important;
    border: 1px solid #506a8524;
    background: #f5f7fa;
    box-shadow: 0 0 5px 0px #506a8566;
}

.navbar .dropdown{}
.navbar .dropdown:hover .dropdown-menu{
    display: block;
}
.navbar .dropdown a{
    color: #506a85 !important;
    font-size: 15px;
    padding: 0px;
}
.navbar .dropdown a i{}
.dropdown-toggle::after{
    content: none;
}

.navbar .dropdown .dropdown-menu{
    padding: 0px;
    color: #506a85;
    border: 0;
    left: auto;
    right: 0;
}
.navbar .dropdown .dropdown-menu form{}
.navbar .dropdown .dropdown-menu input{}

.carousel-indicators{
    background: white;
    max-width: 140px;
    margin: 0 auto;
    bottom: -18px;
    padding: 9px;
    border-radius: 3px;
    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;


}

.carousel:hover .carousel-indicators{
    opacity: 1;
}
.carousel-indicators li{background: #506a85;opacity: 1;width: 15px;height: 15px;border: none;border-radius: 50px;margin: 0 5px;}

.carousel-inner{}
.carousel-inner .carousel-item{}
.carousel-inner .carousel-item img{}

.carousel-inner .carousel-item .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-inner .carousel-item .carousel-caption h5{
    font-size: 78px;
    text-transform: uppercase;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}
.carousel-inner .carousel-item .carousel-caption p{
    font-size: 24px;
    color: #a3b1bf;
    line-height: 1.4;
}

.carousel-control-next, .carousel-control-prev {

    opacity: 0;
    }

    .carousel-indicators .active {
    opacity: 1;
    background: #00bc9c;
}

.btn-custom{
    background: #00bc9c;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 15px 45px;
    box-shadow: 0 4px 0 #02a589;
}

.features-section{
    padding: 130px 0;
}
.heading{padding-bottom: 80px;text-align: center;}
.heading h1{
    color: #506a85;
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.heading p{
    text-align: center;
    color: #506a85;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.features{}
.features i{
    color: #00bc9c;
    font-size: 44px;
}
.features h1{
    color: #506a85;
    font-size: 26px;
    margin-bottom: 25px;
}
.features p{
    color: #506a85;
    font-size: 16px;
}

.work-section{
    background: #f2f5f7;
    padding: 130px 0;
}

.card{}
.card img{}

.card-body{}
.card-body h5{
    font-weight: 600;
    font-size: 20px;
    color: #548196;
}
.card-body p{
    margin-bottom: 0;
    font-size: 14px;
    color: #4b788d;
}

.work-with-us-section{
    padding: 130px 0;
}

footer{
    background: #2f4052;
    padding: 75px 0;
}
.footer-box{}
.footer-box h3{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.footer-box img{margin: 25px 0;}
.footer-box p{
    color: white;
    font-size: 14px;
}
.more{
    color: #a3b1bf;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    /*transition: all 0.4s;*/
}

.more:hover{
    color: #a3b1bf;
    text-decoration: none;

}

.more i{
    transition: 0.4s
}

.more:hover i{

transform: translateX(20px);

}
.footer-box ul{}
.footer-box ul li{
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 4px;
}
.footer-box ul li a{}
.footer-box ul li a img{margin: 0;}

.footer-box .list-unstyled{}
.footer-box .list-unstyled li{
    color: #8695a4;
    font-size: 14px;
    line-height: 1.8;
}
.footer-box .list-unstyled li i{
    margin-right: 5px;
}

.footer-box form{}
.footer-box form .input-group{background: #4e5c6c;padding: 2px;border-radius: 5px;}
.footer-box form .input-group input{
    background-color: transparent;
    border: 0;
    color: white;
    height: auto;
    padding: 3px 10px;
}
.footer-box form .input-group .input-group-prepend{
    margin-bottom: 0;
}
.footer-box form .input-group .input-group-prepend button{
    margin-bottom: 0px !important;
    background: #00bc9c;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 16px;
    border: 0;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-radius: 3px;
}

.footer-top{
    background: #283645;
    margin-top: 75px;
}
.footer-top p{
    color: #506a85;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.footer-top ul{}
.footer-top ul li{}
.footer-top ul li a{
    color: #556372;
    font-size: 14px;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
}

.footer-top ul li a:after{
    content: "";
    width: 6px;
    height: 6px;
    background: #556372;
    position:absolute;
    top: 50%;
    left: -4px;
    border-radius: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);


}
.footer-top ul li a:hover{}

.footer-top ul li:first-child a:after{

    width: 0;
    height: 0;

}

.top-arrow{
    background: #3c5065;
    color: #949ba2;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    position: fixed;
    bottom: 3px;
    right: 6px;
}

.top-arrow i{text-align: center;bottom: 50%;transform: translateY(50%);}



.area{
/*font-family: 'Source Sans Pro', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Source+Sans+Pro:400,700');

*{
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
header{
    background: #f5f7fa;
}

.top-address{}
.top-address li{
    color: #506a85;
    font-size: 12px;
    padding-left: 30px;
    font-weight: 600;
}
.top-address li i{
    margin-right: 5px;
}

.social{}
.social li{}
.social li a{
    padding-right: 0px;
    margin-left: 18px;
    color: #506a85;
}
.social li a:hover{}

.navbar{}
.navbar-brand{
    margin-right: 50px;
}
.navbar-brand img{}
.navbar-toggler{
    background-color: transparent;
    border: 1px solid #54616f;
    border-radius: 0;
    padding: 4px 8px;
    transition: all 0.4s ease;
}
.navbar-toggler span{
    color: #506a85;
    font-size: 25px;
    transition: all 0.4s ease;
}

.navbar-toggler:hover{
    background-color: #54616f;
    border: 1px solid #fff;
}

.navbar-toggler:hover span{
    color: #fff;
}



.navbar-nav{}
.navbar-nav li{}
.navbar-nav li a{
    font-weight: 600;
    color: #506a85 !important;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 22px !important;
    padding-right: 22px !important;
    border: 1px solid transparent;
    transition: : all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.navbar-nav li a:hover{
    color: #00bc9c !important;
    border: 1px solid #506a8524;
    background: #f5f7fa;
    box-shadow: 0 0 5px 0px #506a8566;
}

.navbar .dropdown{}
.navbar .dropdown:hover .dropdown-menu{
    display: block;
}
.navbar .dropdown a{
    color: #506a85 !important;
    font-size: 15px;
    padding: 0px;
}
.navbar .dropdown a i{}
.dropdown-toggle::after{
    content: none;
}

.navbar .dropdown .dropdown-menu{
    padding: 0px;
    color: #506a85;
    border: 0;
    left: auto;
    right: 0;
}
.navbar .dropdown .dropdown-menu form{}
.navbar .dropdown .dropdown-menu input{}

.carousel-indicators{
    background: white;
    max-width: 140px;
    margin: 0 auto;
    bottom: -18px;
    padding: 9px;
    border-radius: 3px;
    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;


}

.carousel:hover .carousel-indicators{
    opacity: 1;
}
.carousel-indicators li{background: #506a85;opacity: 1;width: 15px;height: 15px;border: none;border-radius: 50px;margin: 0 5px;}

.carousel-inner{}
.carousel-inner .carousel-item{}
.carousel-inner .carousel-item img{}

.carousel-inner .carousel-item .carousel-caption{
    bottom: 50%;
    transform: translateY(50%);
}
.carousel-inner .carousel-item .carousel-caption h5{
    font-size: 78px;
    text-transform: uppercase;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}
.carousel-inner .carousel-item .carousel-caption p{
    font-size: 24px;
    color: #a3b1bf;
    line-height: 1.4;
}

.carousel-control-next, .carousel-control-prev {

    opacity: 0;
    }

    .carousel-indicators .active {
    opacity: 1;
    background: #00bc9c;
}

.btn-custom{
    background: #00bc9c;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    padding: 15px 45px;
    box-shadow: 0 4px 0 #02a589;
}

.features-section{
    padding: 130px 0;
}
.heading{padding-bottom: 80px;text-align: center;}
.heading h1{
    color: #506a85;
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.heading p{
    text-align: center;
    color: #506a85;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.features{}
.features i{
    color: #00bc9c;
    font-size: 44px;
}
.features h1{
    color: #506a85;
    font-size: 26px;
    margin-bottom: 25px;
}
.features p{
    color: #506a85;
    font-size: 16px;
}

.work-section{
    background: #f2f5f7;
    padding: 130px 0;
}

.card{}
.card img{}

.card-body{}
.card-body h5{
    font-weight: 600;
    font-size: 20px;
    color: #548196;
}
.card-body p{
    margin-bottom: 0;
    font-size: 14px;
    color: #4b788d;
}



.work-with-us-section{
    padding: 130px 0;
}

footer{
    background: #2f4052;
    padding: 75px 0;
}
.footer-box{}
.footer-box h3{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.footer-box img{margin: 25px 0;}
.footer-box p{
    color: white;
    font-size: 14px;
}
.more{
    color: #a3b1bf;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    /*transition: all 0.4s;*/
}

.more:hover{
    color: #a3b1bf;
    text-decoration: none;

}

.more i{
    transition: 0.4s
}

.more:hover i{

transform: translateX(20px);

}
.footer-box ul{}
.footer-box ul li{
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-bottom: 4px;
}
.footer-box ul li a{}
.footer-box ul li a img{margin: 0;}

.footer-box .list-unstyled{}
.footer-box .list-unstyled li{
    color: #8695a4;
    font-size: 14px;
    line-height: 1.8;
}
.footer-box .list-unstyled li i{
    margin-right: 5px;
}

.footer-box form{}
.footer-box form .input-group{background: #4e5c6c;padding: 2px;border-radius: 5px;}
.footer-box form .input-group input{
    background-color: transparent;
    border: 0;
    color: white;
    height: auto;
    padding: 3px 10px;
}
.footer-box form .input-group .input-group-prepend{
    margin-bottom: 0;
}
.footer-box form .input-group .input-group-prepend button{
    margin-bottom: 0px !important;
    background: #00bc9c;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 16px;
    border: 0;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-radius: 3px;
}

.footer-top{
    background: #283645;
    margin-top: 75px;
}
.footer-top p{
    color: #506a85;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.footer-top ul{}
.footer-top ul li{}
.footer-top ul li a{
    color: #556372;
    font-size: 14px;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    position: relative;
}

.footer-top ul li a:after{
    content: "";
    width: 6px;
    height: 6px;
    background: #556372;
    position:absolute;
    top: 50%;
    left: -4px;
    border-radius: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);


}
.footer-top ul li a:hover{}

.footer-top ul li:first-child a:after{

    width: 0;
    height: 0;

}

.top-arrow{
    background: #3c5065;
    color: #949ba2;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    position: fixed;
    bottom: 3px;
    right: 6px;
}

.top-arrow i{text-align: center;bottom: 50%;transform: translateY(50%);}



















}
